body {
	padding-top: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #ffffff;
}

/* DEBUG CODE */
#container {
    background-color: #c0c0c0;
    width: 600px;
    height: 600px;
    vertical-align: center;
    margin: 0 auto;
}

#classes {
    background-color: #000000;
    margin: 0 auto;
    float: left;
    padding: 10px;
}

#planner {
    width: 251px;
    height: 580px;
    background-color: #000000;
    margin: 0 auto;
}

/* DEBUG END */

.block {
    width: 120px;
    height: 20px;
    text-align: center;
    font-variant:small-caps;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;

    /* Disable Text Selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Disable I-bar */
	cursor:default;

    /* Center align blocks in any div they are present in */
    margin: 0 auto;
}

.block.warrior {
	background-color: #b42b25;
}

.block.stalker {
	background-color: #902e85;
}

.block.medic {
	background-color: #c0c126;
}

.block.engineer {
	background-color: #26c14b;
}

.block.spellslinger {
	background-color: #2692c0;
}

.block.esper {
	background-color: #37827d;
}

.slot {
    width: 120px;
    height: 20px;
    background-color: #a0a0a0;
    list-style-type: none;
    margin: 3;
}



.slot-highlight {
	background-color: #808080;
}

.group {
	float: left;
    text-align: center;
    width: 125px;
}

.las-button {
    width: 10px;
    height: 10px;
    background-color: #00FF00;
    float: left;
}