html{
	font-family:"Trebuchet MS";
	color: #e8e5e5;	
    font-size: medium;
    background-color:
	margin: 0;
	background: url("http://immortalis-noctis.co.uk/inblackops/images/bg2.jpg") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	padding-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #ffffff;
}

.div_groups h1 {
	height:20px;
	margin:0px;
	width: 120px;
	text-align:center;
	border: 1px solid transparent;
	margin:2px;
	line-height:17px;
	color: #FF9900;
}

/* DEBUG CODE */
#container {
    background-color: #c0c0c0;
    width: 600px;
    height: 650px;
    vertical-align: center;
    margin: 0 auto;
    background-color: #454f55;
  	border-radius: 5px; 
  	border: 1px solid black;
}

#classes {
    margin: 0 auto;
    float: left;
    margin: 10px;
    margin-top:25px;
    margin-left:15px;
    -webkit-box-shadow: 0 4px 4px -2px #000000;
   -moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 4px 4px -2px #000000;
    border-top: 1px solid #cc420c;
}

#planner {
    width: 304px;
    min-height: 600px;
    margin: 0 auto;
}

/* DEBUG END */

.block {
    width: 120px;
    height: 20px;
    text-align: center;
    font-variant:small-caps;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;

    /* Disable Text Selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Disable I-bar */
    cursor:default;

    /* Center align blocks in any div they are present in */
    margin: 0 auto;
}

.block.warrior {
	background-color: #B00000;
}

.block.stalker {
	background-color: #902e85;
}

.block.medic {
	background-color: #c0c126;
}

.block.engineer {
	background-color: #26c14b;
}

.block.spellslinger {
	background-color: #2692c0;
}

.block.esper {
	background-color: #37827d;
}

.slot li {
    width: 120px;
    height: 20px;
    background-color: #a0a0a0;
    border:1px solid black;
    margin:2px;
}

.slot-highlight{
	background-color: #808080;
}

.div_add, .div_groups{
	float:left;
	
	}
	
.div_add li{
    /* Disable Text Selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Disable I-bar */
    cursor:default;

	height:20px;
	width:20px;
	border:1px solid black;
	text-align:center;
	vertical-align:middle;
	margin:2px;
	cursor:pointer;
	line-height:18px;
	background-color: #6F0A0A;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B01010), to(#6F0A0A), color-stop(.5,#950C0C));
	background: -moz-linear-gradient(top, #B01010 0%, #950C0C 50%, #6F0A0A 100%);
	}

.las-button {
    width: 10px;
    height: 10px;
    background-color: #00FF00;
    float: left;
}

.right_content{
	width:138px; 
	height:250px; 
	float:right;
}

.right_content p{
	font-size: small;
	text-transform:capitalize;
	width: 100px;
	margin-top:26px;
	margin-left:5px;
	padding:10px;
	margin-right: 20px;
	border-top: 1px solid #cc420c;
	border-radius:5px;
	background-color: #950d0d;
	-webkit-box-shadow: 0 4px 4px -2px #000000;
   -moz-box-shadow: 0 4px 4px -2px #000000;
        box-shadow: 0 4px 4px -2px #000000;

	}
	
.content_header{
	border-bottom:1px solid #622525; 
	border-radius: 5px 5px 0 0; 
	min-height: 20px; 
	padding: 10px; 
	padding-left:15px;
	/*background-color: #2e3539;*/
	background-color: #212121;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#343434), to(#212121), color-stop(.5,#282828));
	background: -moz-linear-gradient(top, #343434 0%, #282828 50%, #212121 100%);
	box-shadow:inset 0px 1px #474e52;
}

.role_icon{
	float: right;
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(assets/img/icon-main-20.png);
	background-repeat: no-repeat;
}

.tank_icon{
	background-position: -160px 0px;
}

.melee_icon{
	background-position: -180px 0px;
}

.healer_icon{
	background-position: -200px 0px;
}

.ranged_icon{
	background-position: -220px 0px;
}

.div_classname {
	float:left;
	padding-left:5px;
	line-height:18px;
}